<script>
    $(document).ready(function() {
        $("#submitForm").click(function(clickEvent) {
            clickEvent.preventDefault(); // prevents new page from loading
            $.ajax({
                type: 'POST',
                url: 'https://827872mihl.execute-api.us-east-1.amazonaws.com/dev/contact',
                contentType: 'application/json',
                data: JSON.stringify({
                    'name': $('#name').val(),
                    'email': $('#email').val(),
                    'message': $('#message').val()
                }),
                success: function(res){
                    console.log(JSON.stringify(res, null, 4));
                    $('#form-response').text('Email was sent.');
                },
                error: function(){$('#form-response').text('Error.');}
            });
        })
    });
</script>
